// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#properties-table {
    margin-top: 20px;
    img {
        max-width: 150px;
    }
    .sortable-link {
        cursor: pointer;
    }
    .sortable-link-asc::after {
        content: ' \02191';
    }
    .sortable-link-desc::after {
        content: ' \02193';
    }
}
